#dlcDungeonsTableBody tr td, #baseDungeonsTableBody tr td, #trialsTableBody tr td {
    text-align: center;
}

.dataCell {
    text-align: center;
    text-decoration: underline dotted;
    text-underline-position: under;
    color: black
}

.dataCell:hover {
    cursor: pointer
}

.fixedWidthCol {
    width: 12%;
}

.dungeonNameCol {
    text-align: left !important;
}

#playerNamesContainer {
    font-size: 1.17em;
    font-weight: bold;
}

#controlsContainer {
    margin-top: 1em;
    margin-bottom: 2em;
}

.footerContainer .row {
    margin-bottom: 1em;
}

#copyUrlModalBody {
    width: 100%
}