#dlcDungeonsTableBody tr td, #baseDungeonsTableBody tr td, #trialsTableBody tr td {
    text-align: center;
}

.fixedWidthCol {
    width: 12%;
}

.dungeonNameCol {
    text-align: left !important;
}

#playerNamesContainer {
    font-size: 1.17em;
    font-weight: bold;
}