#dlcDungeonsTableBody tr td, #baseDungeonsTableBody tr td, #trialsTableBody tr td {
    text-align: center;
}

.dataCell {
    text-align: center;
    text-decoration: underline dotted;
    text-underline-position: under;
    color: black !important;
}

a, .dataCell:hover {
    cursor: pointer
}

tr td{
    padding: 0.2em !important;
    margin: 0 !important;
  }

.fixedWidthCol {
    width: 8%;
}

.fixedWidthCol_trial {
    width: 12%;
}

.extraDataCol {
    width: 8%;
}

#metadataContainer {
    display: flex;
    justify-content: flex-end;
    gap: 1%;
}

.dungeonNameCol {
    text-align: left !important;
    width: 14%;
}

.summaryCell {
    text-align: center !important;
    color: black !important;
}

.summaryInfoModalDungeonInfoRow td {
    padding: 0.5em;
}

#playerNamesContainer {
    font-size: 1.17em;
    font-weight: bold;
}

#controlsContainer {
    margin-top: 1em;
    margin-bottom: 2em;
}

#generateButtonsContainer {
    margin-top: 1em;
}

#copyUrlModalBody {
    width: 100%
}

.tooltip-inner {
    min-width: 300px;
    max-width: 5em; 
}

#summaryGraphContainer {
    min-height: 700px;
    color: white;
}
